.u-label {
  cursor: pointer;
  position: relative; }
  .u-label + .u-label {
    margin-left: 15px; }
  .u-label .u-radio-input {
    position: relative;
    vertical-align: middle;
    margin-right: 8px;
    cursor: pointer; }
    .u-label .u-radio-input:hover .u-radio-inner {
      border-color: #09f;
      background: #D0E8FE; }
      .u-label .u-radio-input:hover .u-radio-inner:after {
        background: #D0E8FE; }
      .u-label .u-radio-input:hover .u-radio-inner.checked:after {
        background: #fff; }
      .u-label .u-radio-input:hover .u-radio-inner.checked.disabled-on {
        background: #fff; }
        .u-label .u-radio-input:hover .u-radio-inner.checked.disabled-on:after {
          background: #999; }
      .u-label .u-radio-input:hover .u-radio-inner.disabled-on, .u-label .u-radio-input:hover .u-radio-inner.disabled-off {
        border-color: #cecece; }
    .u-label .u-radio-input .u-radio-inner {
      display: inline-block;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 1px solid #cecece;
      position: relative;
      cursor: pointer; }
      .u-label .u-radio-input .u-radio-inner.checked {
        background: #09f;
        border-color: #09f; }
      .u-label .u-radio-input .u-radio-inner.disabled-on {
        cursor: not-allowed;
        background: #fff;
        border-color: #cecece; }
        .u-label .u-radio-input .u-radio-inner.disabled-on:after {
          background: #999;
          cursor: not-allowed; }
        .u-label .u-radio-input .u-radio-inner.disabled-on:hover {
          cursor: not-allowed;
          border-color: #cecece; }
      .u-label .u-radio-input .u-radio-inner.disabled-off {
        background: #ddd;
        cursor: not-allowed; }
        .u-label .u-radio-input .u-radio-inner.disabled-off:after {
          background: #ddd;
          cursor: not-allowed; }
        .u-label .u-radio-input .u-radio-inner.disabled-off:hover {
          cursor: not-allowed;
          border-color: #cecece; }
      .u-label .u-radio-input .u-radio-inner:after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: #fff;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.15s cubic-bezier(0.71, -0.46, 0.88, 0.6);
        cursor: pointer; }
    .u-label .u-radio-input input {
      opacity: 0;
      position: absolute;
      left: 0;
      top: 0;
      z-index: -1; }
  .u-label .u-radio-text.disabled {
    color: #ccc;
    cursor: not-allowed; }
