@import '../../style/color.scss';

.u-label {
    cursor: pointer;
    &+.u-label {
        margin-left: 15px;
    }
    position: relative;
    .u-radio-input {
        position: relative;
        vertical-align: middle;
        margin-right: 8px;
        cursor: pointer;
        &:hover {
            .u-radio-inner {
                border-color: $base-color;
                background: #D0E8FE;
                &:after {
                    background: #D0E8FE;
                }
                &.checked {
                    &:after {
                        background: #fff;
                    }
                    &.disabled-on {
                        background: #fff;
                        &:after {
                            background: #999;
                        }
                    }
                }
                &.disabled-on, &.disabled-off {
                    border-color: #cecece;
                }
            }
        }
        .u-radio-inner {
            display: inline-block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
            border: 1px solid #cecece;
            position: relative;
            cursor: pointer;
            &.checked {
                background: $base-color;
                border-color: $base-color;
            }
            &.disabled-on {
                cursor: not-allowed;
                background: #fff;
                border-color: #cecece;
                &:after {
                    background: #999;
                    cursor: not-allowed;
                }
                &:hover {
                    cursor: not-allowed;
                    border-color: #cecece;
                }
            }
            &.disabled-off {
                background: #ddd;
                cursor: not-allowed;
                &:after {
                    background: #ddd;
                    cursor: not-allowed;
                } 
                &:hover {
                    cursor: not-allowed;
                    border-color: #cecece;
                }
            }
            &:after {
                content: '';
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background: #fff;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                transition: transform .15s cubic-bezier(.71,-.46,.88,.6);
                cursor: pointer;
            }
        }
        input {
            opacity: 0;
            position: absolute;
            left: 0;
            top: 0;
            z-index: -1;
        }
    }
    .u-radio-text {
        &.disabled {
            color: #ccc;
            cursor: not-allowed;
        }
    }
}