$prefix-suffix-size: 28px;
$input-line-height: 32px;

.ma-input {
  $root: &;

  line-height: $input-line-height;
  border: 1px solid #CCCCCC;
  font-size: 14px;
  padding: 0 8px;
  outline: 0;
  border-radius: 2px;
  background: white;
  transition: all 0.3s;

  &:hover {
    border-color: #0099FF;
  }

  &:focus {
    border-color:#0099FF;
    box-shadow: 0 0 2px 2px rgba(#0099FF, 0.2);
  }

  &_has {
    &_prefix {
      padding-left: $prefix-suffix-size;
    }

    &_suffix {
      padding-right: $prefix-suffix-size;
    }
  }

  &__wrapper {
    position: relative;
    line-height: $input-line-height;
  }

  &__prefix, &__suffix {
    position: absolute;
    width: $prefix-suffix-size;
    text-align: center;

    .icon {
      // 修复行高
      line-height: $input-line-height;
    }
  }

  &__prefix {
    left: 0;
  }

  &__suffix {
    right: 0;
  }
}
