@charset "UTF-8";
.f-ib {
  display: inline-block; }

.f-fl {
  float: left; }

.f-fr {
  float: right; }

.f-cb {
  zoom: 1; }
  .f-cb:after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    content: "."; }

/**
 * 布局间距定义
 */
.u-input-wrapper {
  position: relative;
  max-width: 100%; }
  .u-input-wrapper-xsmall {
    width: 146px;
    height: 28px; }
  .u-input-wrapper-small {
    width: 240px; }
  .u-input-wrapper-normal {
    width: 376px; }
  .u-input-wrapper-large {
    width: 480px; }
  .u-input-wrapper .u-input {
    border: none;
    font-size: 14px;
    height: 32px;
    border-radius: 3px;
    color: #333333;
    outline: none;
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 0 12px;
    vertical-align: middle;
    width: 100%; }
    .u-input-wrapper .u-input:focus {
      background-color: #ffffff;
      border-color: #0099ff; }
    .u-input-wrapper .u-input.error {
      border-color: #D33017; }
  .u-input-wrapper .error-message {
    position: absolute;
    bottom: calc(100% + 4px);
    right: 0;
    color: #fff;
    background: #D33017;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px 10px; }
    .u-input-wrapper .error-message:after {
      content: "";
      width: 0;
      height: 0;
      border: 4px solid transparent;
      border-top: 4px solid #D33017;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%); }
  .u-input-wrapper .input-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa; }
