$prefix-suffix-size: 28px;
$input-normal-line-height: 32px;
$input-small-line-height: 28px;
$input-large-line-height: 36px;

.ma-input {
  $root: &;

  line-height: $input-normal-line-height;
  border: 1px solid #CCCCCC;
  font-size: 14px;
  padding: 0 8px;
  outline: 0;
  border-radius: 2px;
  background: white;
  width: 100%;
  transition: all 0.3s;

  &:hover {
    border-color: #0099FF;
  }

  &:focus {
    border-color:#0099FF;
    box-shadow: 0 0 2px 2px rgba(#0099FF, 0.2);
  }

  &--size-large {
    line-height: $input-large-line-height;
  }

  &--size-small {
    line-height: $input-small-line-height;
  }

  &--has {
    &-prefix {
      padding-left: $prefix-suffix-size;
    }

    &-suffix {
      padding-right: $prefix-suffix-size;
    }
  }

  &__wrapper {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  &__prefix, &__suffix {
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
  }

  &__prefix {
    left: $prefix-suffix-size / 3;
  }

  &__suffix {
    right: $prefix-suffix-size / 3;
  }
}
