.u-menu {
  width: 160px;
  max-height: 450px;
  border: 1px solid #ccc;
  padding: 4px 0;
  background: #FFFFFF;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  overflow-y: auto; }

.u-menu-item {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  text-align: left;
  padding-left: 12px;
  position: relative;
  padding-right: 14px; }
  .u-menu-item .icon {
    margin-right: 5px; }
  .u-menu-item .subtitle {
    color: #999;
    font-size: 12px;
    float: right; }
  .u-menu-item .tick-icon {
    position: absolute;
    left: 12px; }
  .u-menu-item:hover {
    background: rgba(0, 153, 255, 0.1); }
  .u-menu-item.bg-selected {
    background: rgba(0, 153, 255, 0.15); }
  .u-menu-item.pdl-change {
    padding-left: 32px; }
  .u-menu-item.disabled {
    cursor: not-allowed;
    color: #ccc; }
    .u-menu-item.disabled:hover {
      background: transparent; }
  .u-menu-item.divided:after {
    content: '';
    width: 100%;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 100%;
    left: 0; }

.u-menu-title {
  font-size: 12px;
  color: #999999;
  text-align: left;
  padding-left: 12px;
  height: 24px;
  line-height: 24px; }
