@import '../../style/color.scss';

.u-menu {
  width: 160px;
  border: 1px solid #ccc;
  background: #ffffff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  overflow: hidden;
  transition: all 0.3s ease-in-out;

  .handle-top {
    position: relative;
    top: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    background: #fff;
    z-index: 4;
    cursor: pointer;
    animation: topMove 5s;
    -moz-animation: topMove 0.1s; /* Firefox */
    -webkit-animation: topMove 0.1s; /* Safari and Chrome */
    -o-animation: topMove 0.1s; /* Opera */
  }
  .handle-bottom {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-top: 1px solid #ccc;
    background: #fff;
    z-index: 4;
    cursor: pointer;
    animation: topMove 5s;
    -moz-animation: bottomMove 0.1s; /* Firefox */
    -webkit-animation: bottomMove 0.1s; /* Safari and Chrome */
    -o-animation: bottomMove 0.1s; /* Opera */
  }
}
.u-menu-item {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  text-align: left;
  padding-left: 12px;
  position: relative;
  padding-right: 14px;
  .u-label {
    width: calc(100% - 10px);
    display: inline-block;
  }
  .icon {
    margin-right: 5px;
  }
  .subtitle {
    color: #999;
    font-size: 12px;
    position: absolute;
    right: 12px;
    top: 0;
  }
  .subtitle-witah-arrow {
    right: 24px;
  }
  .tick-icon {
    position: absolute;
    left: 12px;
    top: 9px;
  }
  &:hover {
    background: rgba(0, 153, 255, 0.1);
  }
  &.bg-selected {
    background: rgba(0, 153, 255, 0.15);
  }
  &.pdl-change {
    padding-left: 32px;
  }
  &.disabled {
    cursor: not-allowed;
    color: #ccc;
    &:hover {
      background: transparent;
    }
  }
}
.u-menu-horizontal {
  width: 100%;
  height: 52px;
  line-height: 52px;
  background: #3274e6;
  box-shadow: 0 2px 4px 0 rgba(0, 67, 203, 0.2), 0 2px 6px 0 rgba(16, 72, 130, 0.16);
  color: #fff;
}
.u-menu-item-horizontal {
  float: left;
  text-align: center;
  height: 100%;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  padding: 0 20px;
  &.horztl-selected {
    &:after {
      width: calc(100% - 40px);
    }
  }
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    border-radius: 1px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.5s;
    bottom: -1px;
  }
  &:hover {
    &:after {
      width: calc(100% - 40px);
    }
  }
}
.u-menu-inline {
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  max-height: 100%;
}
.u-menu-item-inline {
  padding: 8px 0;
  position: relative;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  a {
    display: block;
    height: 24px;
    line-height: 24px;
    color: #666;
    border-left: 4px solid transparent;
    padding-left: 24px;
  }
  &:hover {
    background: rgba(0,115,251,0.04);
    color: $menu-active-color;
    a {
      color: $menu-active-color;
      border-left-color: $menu-active-color;
    }
  }
  &.selected {
    background: rgba(0,115,251,0.04);
    color: $menu-active-color;
    a {
      color: $menu-active-color;
      border-left-color: $menu-active-color;
    }
  }
}
.content {
  max-height: 450px;
  padding: 4px 0;
  overflow-y: auto;
  transition: all 0.3s ease-in-out;
}
.u-divider {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #ccc;
}
.content-horizontal {
  transition: all 0.3s ease-in-out;
}

.u-menu-title {
  font-size: 12px;
  color: #999999;
  text-align: left;
  padding-left: 12px;
  height: 24px;
  line-height: 24px;
}
.u-menu-checkbox {
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  text-align: left;
  padding-left: 12px;
  position: relative;
  padding-right: 14px;
}

@keyframes topMove {
  from {
    top: -25px;
  }
  to {
    top: 0;
  }
}


@keyframes bottomMove {
  from {
    bottom: -25px;
  }
  to {
    top: 0;
  }
}

.fade-enter {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-appear {
  opacity: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-leave {
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  animation-play-state: paused;
}
.fade-enter.fade-enter-active {
  animation-name: fadeIn;
  animation-play-state: running;
}
.fade-appear.fade-appear-active {
  animation-name: fadeIn;
  animation-play-state: running;
}
.fade-leave.fade-leave-active {
  animation-name: fadeOut;
  animation-play-state: running;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}