.container {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  &-before {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--hasBefore .input {
    padding-left: 28px;
  }
  &--hasCaret .input {
    padding-right: 28px;
  }
}

input.input {
  cursor: pointer;
  padding-right: 28px;
  &--searchable {
    cursor: text;
  }
}

.caret {
  position: absolute;
  right: 8px;
  top: 10px;
}

.dropdown {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-height: 330px;
  overflow: auto;
  @media (max-height: 700px) {
    max-height: 162px;
  }
  &-wrap {
    width: 100%;
  }
}

.split {
  margin: 4px 0;
  border-bottom: 1px solid #ccc;
}

.option {
  padding: 6px 12px;
  line-height: 20px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  &-subtitle {
    color: #999;
  }
  &-icon {
    float: right;
    color: #09f;
    margin-right: -22px;
    margin-top: 4px;
  }
  &:hover,
  &--hover {
    background-color: #dff0ff;
  }
  &--disabled {
    color: #999 !important;
    cursor: not-allowed !important;
    background-color: transparent !important;
  }
  &--multi {
    padding-right: 32px;
  }
}

.tag {
  &-con {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    .input {
      flex: 1 0 0;
      max-width: 100%;
      padding-left: 0;
      border: none;
      box-shadow: none !important;
    }
  }
  &-item {
    margin-top: 4px;
    margin-right: 4px;
  }
  &--focused {
    border-color: #09f !important;
    box-shadow: 0 0 2px 2px rgba(0, 153, 255, 0.2);
    .input {
      flex-basis: 80px;
    }
  }
}
