.container {
  position: relative;
  font-size: 14px;
  cursor: pointer;
  &-before {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &--hasBefore .input {
    padding-left: 28px;
  }
}

input.input {
  cursor: pointer;
  padding-right: 28px;
  &--searchable {
    cursor: text;
  }
}

.caret {
  position: absolute;
  right: 8px;
  top: 10px;
}

.dropdown-wrap {
  width: 100%;
}

.dropdown {
  width: 100%;
  padding: 8px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  max-height: 330px;
  overflow: auto;
  @media (max-height: 700px) {
    max-height: 162px;
  }
}

.option {
  padding: 6px 12px;
  line-height: 20px;
  font-size: 14px;
  cursor: pointer;
  &:hover,
  &--hover {
    background-color: #dff0ff;
  }
  &--disabled {
    color: #999 !important;
    cursor: not-allowed !important;
    background-color: transparent !important;
  }
}
