// Base
$body-background: #fff;
$font-family: 'Helvetica Neue', Helvetica, Arial, 'Hiragino Sans GB', 'PingFang SC', 'Microsoft YaHei', tahoma, simsun,
  '宋体';
$font-size-base: 12px;
$font-size-normal: 14px;
$font-size-big: 16px;
$line-height-base: 1.5;

// cursor
$cursor-default: default;
$cursor-disabled: not-allowed;
$cursor-ns-resize: ns-resize;
$cursor-pointer: pointer;
$cursor-move: move;

// z-index list
$zindex-affix: 10;
$zindex-back-top: 10;
$zindex-editnode: 400;
$zindex-notification: 1200;
$zindex-message: 1010;
$zindex-popover: 1030;
$zindex-picker: 1050;
$zindex-dropdown: 1050;
$zindex-contextmenu: 1050;
$zindex-tooltip: 1060;
$zindex-modal-mask: 1100;
$zindex-modal: 1100;
$zindex-fullscreen: 1100;
$zindex-codemirror: 1100;
$zindex-loading: 1150;

// border
$no-border: none;
$border-default-width: 1px;
$border-default-style: solid;
$border-radius-small: 2px;
$border-radius-default: 3px;
$transparent-border: 1px solid transparent;

// outline
$no-outline: none;

// input
$input-height: 32px;

// select
$select-top-distance: 3px;

//width
$xsmall-width: 146px;
$small-width: 240px;
$normal-width: 376px;
$large-width: 480px;

/**
 * 布局间距定义
 */
// mini 迷你 2px
$space-mini: 2px;
// tiny 较小 4px
$space-tiny: $space-mini * 2;
// small 小 8px
$space-small: $space-mini * 4;
// normal 标准 16px
$space-normal: $space-mini * 8;
// large 大 24px
$space-large: $space-mini * 12;
// big 较大 32px
$space-big: $space-mini * 16;
// huge 巨大 40px
$space-huge: $space-mini * 20;
// massive 超大 48px
$space-massive: $space-mini * 24;
