/* 定义字体 */
@font-face {
    font-family: 'FontMammut';
    font-weight: normal;
    font-style: normal;
    src: url('/src/style/font/mammut.eot');
    src: url('/src/style/font/mammut.eot') format('embedded-opentype'), url('/src/style/font/mammut.woff') format('woff'), url('/src/style/font/mammut.ttf') format('truetype'), url('/src/style/font/mammut.svg') format('svg');
}
