:global {
  .f-ib {
    display: inline-block;
  }
  .f-fl {
    float: left;
  }
  .f-fr {
    float: right;
  }
  .f-cb {
    zoom: 1;
    &:after {
      display: block;
      clear: both;
      visibility: hidden;
      height: 0;
      overflow: hidden;
      content: '.';
    }
  }
  .f-toe {
    overflow: hidden;
    word-wrap: normal;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
