$hover-color: #d0e8fe;
$active-color: #d0e8fe;

.container {
  position: relative;
  display: inline-block;
  outline: none;
}

.input {
  font-size: 14px;
}

.reset {
  color: #ccc;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #999;
  }
}

.container--centered {
  .input input,
  .input {
    text-align: center;
  }
}

.dropdown {
  border: 1px solid #ddd;
  margin: 4px 0;
  left: 0;
  display: inline-block;
  position: relative;

  &-content {
    display: flex;
    flex-direction: row;
    background: white;
  }

  &-select {
    overflow-y: auto;
    overflow-x: hidden;
    height: 32px * 5;
    flex: none;
    border-right: 1px solid #ddd;
    user-select: none;
    &:last-child {
      border-right: none;
    }
  }

  &-option {
    height: 32px;
    width: 56px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: $hover-color;
    }

    &--active {
      background: $active-color;
    }

    &--empty {
      &:hover {
        background: none;
      }

      cursor: initial;
    }
  }
}
