$cube-size: 24px;
$ranger-bg-color: #f2f9ff; // 高亮的范围背景颜色
$active-color: #0987E5; // 活跃颜色，选中的某一天，以及今天的颜色
$disabled-color: #999; // 禁用的颜色
$hover-bg-color: #d0e8fe; // 背景色
$minor-color: #999; // 次要颜色，主要是用于前一个月后一个月的文字颜色
// 主要颜色就是黑色了

@mixin concatGap {
  content: "";
  position: absolute;
  width: 4px;
  height: 100%;
  background: $ranger-bg-color;
}

@mixin concatBefore {
  @include concatGap();
  left: -4px;
}

@mixin concatAfter {
  @include concatGap();
  right: -4px;
}

.body {
  width: ($cube-size + 8px) * 7;
  font-size: 14px;
}

.cube {
  display: inline-block;
  width: $cube-size;
  height: $cube-size;
  line-height: $cube-size;
  text-align: center;
  margin: 4px;
  border-radius: 2px;
  &:hover {
    background: $hover-bg-color;
  }
}

.days-header {
  color: $minor-color;
}

.days-body {

}

.header {
  display: flex;
  flex-direction: row;
  width: ($cube-size + 8px) * 7;
  font-size: 14px;
  line-height: 48px;
  padding: 0 4px;
  align-items: center;

  &-icon {
    flex: none;
    cursor: pointer;
    color: #999;
  }

  &-date {
    flex: 1 1 auto;
    text-align: center;
  }
}

.date-cube {
  $root: &;
  cursor: pointer;
  position: relative;
  user-select: none;

  .other-month-ranger > & {
    color: $minor-color;
  }

  &--today {
    color: $active-color;
    border-bottom: 2px solid $active-color;
  }

  @mixin active {
    background: $active-color;
    color: white;
    &:hover {
      background: $active-color;
    }
  }

  &--disabled {
    color: $disabled-color;
    cursor: not-allowed;

    &:hover {
      background: none;
    }
  }

  &-ranger {
    > #{$root} {
      background: $ranger-bg-color;

      &:not(:first-child)::before {
        @include concatBefore();
      }

      &:not(:last-child)::after {
        @include concatAfter();
      }
    }

    &--active-start > #{$root}:first-child {
      @include active();
    }

    &--active-end > #{$root}:last-child {
      @include active();
    }
  }
}
