.u-calendar {
    width: 246px;
    border: 1px solid #ccc;
    padding: 14px 10px;
    color: #333;
    font-size: 12px;
    .icon-left-double {
        width: 16px;
        color: #999;
        letter-spacing: -10px;
        text-indent: -4px;
        &:before {
            content: '\f11b\f11b'
        }
    }
    .icon-right-double {
        width: 16px;
        color: #999;
        letter-spacing: -10px;
        text-indent: -4px;
        &:before {
            content: '\f12a\f12a'
        }
    }
}
.calendar-header {
    text-align: center;
    height: 20px;
    line-height: 20px;
    margin-bottom: 12px;
    cursor: pointer;
}
.calendar-body {
}
.calendar-week {
    ul {
        li {
            width: 24px;
            height: 24px;
            line-height: 24px;
            float: left;
            margin: 4px;
            color: #999;
        }
    }
}

.calendar-days {
    ul {
        li {
            width: 24px;
            height: 24px;
            line-height: 24px;
            float: left;
            margin: 4px;
            cursor: pointer;
            border-radius: 2px;
            &:hover {
                background: #d0e8fe;
                color: #fff;
            }
            &.disabled {
                color: #999;
                cursor: not-allowed;
                &:hover {
                    background: #fff;
                    color: #999;
                    cursor: not-allowed;
                }
            }
            &.selected {
                color: #fff;
                background: #0987E5;
                &:hover {
                    color: #fff;
                    background: #0987E5;
                }
            }
        }
    }
}