.host {
  display: inline-block;
  padding: 0 10px;
  background: white;
  width: 244px;
}

.time-area {
  display: flex;
  flex-direction: row;
  padding: 12px;
}

.time-picker {
  flex-grow: 1;
  flex-shrink: 1;
}

.time-current {
  flex: none;
}
