.host {
  display: inline-block;
  position: relative;
  outline: none;
}

.input-icon {
  color: #ccc;
}

.clear-icon {
  cursor: pointer;
  &:hover {
    color: #999;
  }
}

.dropdown {
  margin: 4px 0;
  border: 1px solid #ccc;
  border-radius: 2px;
  min-width: 226px;
}

.range-dropdown {
  min-width: 500px;
}

.range-middle {
  vertical-align: top;
  line-height: 48px;
  color: #ccc;
}

.range-confirm-footer {
  border-top: 1px solid #ccc;
  padding: 0 12px;
  line-height: 38px;
  text-align: right;
  .range-confirm-btn {
    color: #fff;
    background-color: #1890ff;
    height: 24px;
    padding: 0 7px;
    font-size: 14px;
    border-radius: 4px;
    line-height: 22px;
  }
}
